/* header */
.header{
    height: 54px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search{
    border-radius: 3px;
    border: 1px solid #ccc;
}

.header__search-input{
    border-radius: 5px;
    outline: none;
    border-width: 0px;
    height: 28px;
    width: 215px;
    padding: 0 12px;
    background-color: #fafafa;
    overflow: hidden;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 300;
}

.header__directional{
    display: flex;
    align-items: center;
    position: relative;
}

.header__directional-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 2.4rem;
    padding: 0 10px;
}

.header__directional-user{ 
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header__directional-user-img{
    height: 26px;
    width: 26px;
    border-radius: 50%;
}


/* Content */
.content{
    background-color: #fafafa;
    padding-top: 30px;
}


/* list followed */
.followed-list{
    background-color: var(--primary-color);
    padding: 0 12px ;
    margin: 0 0 24px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 116px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.followed-item{
    width: 80px;
    padding: 0 4px;
    text-align: center;
}

.followed-avt{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid orange;
    padding: 2px;
    object-fit: cover;
}

.followed-name{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
}

/* news */
.new{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 48px;
}

.new__header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px;
}

.new__header-user{
    display: flex;
    align-items: center;
}

.new__header-user-avt{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 16px;
}

.new__header-user-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.new__content-img{
    width: 614px;
    height: 614px;
    object-fit: fill;
}

.status__content-main{
    width: 614px;
    height: 614px;
    background-image: url("https://marketplace.canva.com/EAD297uecnM/2/0/1600w/canva-rainbow-gradient-pink-orange-and-blue-zoom-virtual-background-VwJMC37j5jQ.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.status__content-main-name{
    font-size: 3rem;
    color: white;
    line-height: 3.6rem;
    text-align: center;
}

.new__interactive{
    padding: 4px 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new__interactive-icon{
    margin: 8px;
    cursor: pointer;
}   

.new__interactive-icon:first-child {
    margin-left: 0;
}

.new__sum-cmt{
    padding: 0 16px 8px;
    font-size: 1.4rem;
}

.new__user-description {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 3px 16px;
    line-height: 1.8rem;
}

.new__user-description a{
    text-decoration: none;
    color: black;
}

.new__all-cmt{
    margin: 4px 0;
}

.new__all-cmt-link{
    display: block;
    font-size: 1.4rem;
    color: #333;
    padding: 0 16px;
    text-decoration: none;
}

.new__time{
    padding: 2px 16px 8px;
}

.new__time-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.new__user-cmt{
    height: 55px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(239, 239, 239);;
    cursor: default;
}

.new__user-cmt-input{
    flex: 1;
    border: none;
    font-size: 1.4rem;
}

.new__user-cmt-post{
    color: rgba(0, 149, 246, 0.5);
    font-size: 1.4rem;
}

.new__user-cmt-input:focus ~ .new__user-cmt-post{
    color: rgba(0, 149, 246, 1);
    cursor: pointer;
}

/* Body right */
.main-right{
}
/* User */
.user__suggest{

}
.user__info{
    display: flex;
    align-items: center;
    height: 56px;
    margin: 19px 0 10px;
    padding: 0 5px;
}

.user__info-avt{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 15px;
    text-decoration: none;
}

.user__info-avt-img{
    object-fit: cover;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.user__info-intro{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.user__info-intro-name{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.user__info-hi{
    color: rgb(136, 133, 133);
    font-weight: 300;
}

/* Suggest */
.suggest{

}

.suggest__header{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px 8px;
    margin-top: 12px;
}

.suggest__header-text{
    font-size: 1.4rem;
    color: rgb(142, 142, 142);;
}

.suggest__header-full-list{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.suggest__main{

}

.suggest__list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.suggest__item{
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.suggest__item-avt{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-right: 12px;
}

.suggest__item-avt-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.suggest__item-avt-img{
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.suggest__item-info{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.suggest__item-info-name{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 6px;
}

.suggest__item-info-status{
    font-size: 1.2rem;
    color: rgb(142, 142, 142);
    margin-top: 2px;
}

.suggest__item-follow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.suggest__item-follow-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: rgba(0, 149, 246, 1);
    padding: 0;
    cursor: pointer;
}

/* footer */
.footer__selection-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 26px 0 12px;
}

.footer__selection-item{
    list-style: none;
    font-size: 1.2rem;
    color: #ccc;
    font-weight: 300;
    line-height: 1.8rem;
}

.footer__selection-item::after{
    content: '\00B7';
    margin: 0 2.5px;
}

.footer__contact{
    font-size: 1.2rem;
    color: #ccc;
    font-weight: 300;
}
